<div class="card bg-card text-dark">
  <div class="card-header">
    Detalle Cliente
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">

          <li class="list-group">
            <div class="col-sm">
              <img class="img-thumbnail row"
               src="http://localhost:8087/api/clientes/img/{{cliente.imagen}}" style="width: 300px;" alt="img-cliente">

            </div>
          </li>
          <li class="list-group"> Nombre: {{cliente.nombre}}</li>
          <li class="list-group"> Apellido: {{cliente.apellido}}</li>
          <li class="list-group"> Email: {{cliente.email}}</li>
          <li class="list-group"> Telefono: {{cliente.telefono}}</li>
          <li class="list-group"> Fecha: {{cliente.createAt | date: 'dd/MM/yyyy'}}</li>

        </ul>

        <div class="input-group">
          <div class="custom-file">
            <input (change)="seleccionarImagen($event)" type="file" class="custom-file-input" id="inputImg">
            <label for="inputImg" class="custom-file-label">Buscar Imagen</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-info" (click)="subirImagen()">Guardar</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
